<h2>Администрирование</h2>
<h3>Генерация расписания</h3>
<form>
	<div class="row">
		<div class="form-group col">
			<label for="generateFrom">С</label>
			<input type="date" name="from" class="form-control" id="generateFrom"/>
		</div>
		<div class="form-group col">
			<label for="generateTo">По</label>
			<input type="date" name="to" class="form-control" id="generateTo"/>
		</div>
	</div>
	<div class="form-check">
		<input class="form-check-input" type="checkbox" id="satAndSunAreWeekends">
		<label for="satAndSunAreWeekends">Пометить все субботы и воскресенья выходными днями</label>
	</div>
	<input type="submit" class="btn btn-outline-primary form-control mb-4" value="Сгенерировать расписание"/>
</form>
<h3>Пользователи</h3>
<table class="table table-hover">
	<thead>
		<tr><th>Логин</th><th>ФИО</th><th>Действия</th></tr>
	</thead>
	<tbody id="usersTable">
	</tbody>
</table>
<button class="btn btn-outline-primary form-control">Добавить пользователя</button>
<div class="modal fade" tab-index="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">header<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button></div>
		<div class="modal-body">
		<p>sample text</p>
		</div>
		<div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
		</div>
	</div>
</div>
<script src="/js/adminApi.js"></script>
<script>

	adminApi.getUsers(function(users){
		users.forEach(function(user){
			$('<tr>',{
				html: [
					$('<td>',{text: user.login}),
					$('<td>',{text: user.username}),
					$('<td>',{html: [
						$('<span>',{
							'class': 'oi oi-calendar text-primary mr-2',
							'data-toggle': 'tooltip',
							title: 'График отпусков',
							click: function(){router.open("/vacations.html?userid="+user.id);}
						}),
						$('<span>',{
							'class': 'oi oi-calendar text-warning mr-2',
							'data-toggle': 'tooltip',
							title: 'Больничные',
							click: function(){router.open("/sick.html?userid="+user.id);}
						}),
						$('<span>',{
							'class': 'oi oi-pencil mr-2',
							'data-toggle': 'tooltip',
							title: 'Редактировать профиль',
							click: function(){router.open("/profile.html?userid="+user.id);}
						}),
					]})
				]
			}).appendTo("#usersTable");
			console.log(user.username);
		});
	});
	
</script>
