<h3>SomeTestName <span class="badge badge-secondary">2.3.0-develop-TT</span></h3>
<a href="#"> Открыть тест в IDE</a> | <a href="#">Открыть документацию</a> | <a href="#">Показать стек трейс</a> | <a href="#">Показать лог</a> | <a href="#">Показать скриншот</a>
<h4>Тест-кейс</h4>
<table class="table">
	<tr><th>Действие</th><th>Ожидаемый результат</th></tr>
	<tr><td>Нажать кнопку "Кнопка"</td><td>Открылась форма "Форма</td></tr>
	<tr><td>Ввести значение "значение" в поле "поле"</td><td>Сработкал контроль "текст контроля"</td></tr>
	<tr><td>Сохранить документ</td><td>Документ сохранен со статусом "Ошибка контроля"</td></tr>
</table>
<h4>Укзать результат разбора</h4>
<form>
	<div class="row">
		<div class="col"><input type="text" class="form-control" placeholder="Идентификатор дефекта или сообщение"/></div>
		<div class="col"><div class="form-check form-check-inline"><input type="checkbox"> Дефект</div></div>
	</div>
	<input type="submit" value="Сохранить" class="btn btn-primary mt-2"/>
</form>
<h4>Предыдущие разборы</h4>
<table class="table">
	<tr><th>Текст ошибки</th><th>Назначен</th><th>Результат</th></tr>
	<tr><td>Element [dataAt="myButton"] not found</td><td>Не назначен</td><td></td></tr>
	<tr><td>Element [dataAt="myButton"] not found</td><td>Иванов И.П.</td><td><a href="#">STDDEFECT-12345</a></td></tr>
</table>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
<div class="modal" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Заголовок окна</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Здесь будет лог, скриншот или стек трейс теста.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
