<h2>Выходные</h2>
<div class="alert alert-danger" id="alert-unathorised" style="display: none">
	Для просмотра и редактирования графика отпусков необходимо авторизоваться, показаны только выходные и праздники
</div>
<table class="table table-sm table-borderless">
	<tbody>
		<tr><td></td><td>- обычный рабочий день</td></tr>
		<tr><td class="table-danger"></td><td>- выходной или праздничный день</td></tr>
	</tbody>
</table>
<div id="calendar"></div>
<script src="/js/calendarUtils.js"></script>
<script src="/js/adminApi.js"></script>
<script>	
	subscribeOnAuthUpdate(function(){
		var location = document.location.pathname;
		return function(isLogged){
			if(location == document.location.pathname){
				router.open(location);
			}
		}
	}());

	var holidays = [];

	var row;
	for(var i = 0; i < 12; i++){
		holidays[i] = loadHolidaysForMonth(2019, i);

		if((i%3) == 0){row = $('<div>', {class: 'row'});}
		row.append(genMonth(2019, i));
		if(((i+1) % 3) == 0){row.appendTo("#calendar");}
	}

	function loadHolidaysForMonth(year, monthIdx){
		var result = $.Deferred();
		api.getHolidays(
			new Date(year, monthIdx), 
			new Date(year, monthIdx+1, 0), 
			function(data){ result.resolve(data); }
		);
		return result;
	}

	function genMonth(year, month){
		var spinner = $('<span>',{"class":"spinner-border spinner-border-sm float-right"});
		$.when(holidays[month]).done(function(){ spinner.remove() });

		return $('<div>', {"class":"col-md-4 mb-4",
			html: $('<div>', {"class":"card",
				html: [
					$('<div>', {"class":"card-header", text: new Date(year, month).toLocaleString('default', { month: 'long' })}).append(spinner),
					$('<div>', {"class":"card-body", 
						html: calendarUtils.generateMonthTable(year, month, function(element, date){
							$.when(holidays[month]).done(function(holidays){
								element
									.attr('class', getColorClass(holidays, date))
									.attr('date', date.getDate()+'.'+(date.getMonth()+1)+'.'+date.getFullYear())
									.on('click', getDayClickHandler(date, holidays))
									.text(date.getDate())
							});

						}) 
					})
				]
			})
		});
	}

	function getColorClass(holidays, date){
		if(containsDate(holidays, date)) return "table-danger";
		return "";
	}

	function containsDate(daysList, date){
		var d = date.getDate();//day of month
		var m = date.getMonth()+1;//jan = 0
		var y = date.getFullYear();

		return daysList.indexOf(
			("0"+d).slice(-2)+'.'+
			("0"+m).slice(-2)+'.'+
			y) > -1;
	}
	
	function updateCalendarDay(elem){
			var date_sp = elem.attr('date').split('.');
			var date = new Date(date_sp[2], date_sp[1]-1, date_sp[0]);

			holidays[date.getMonth()] = loadHolidaysForMonth(date.getFullYear(), date.getMonth());
			$.when(holidays[date.getMonth()]).then(function(holidays){
				elem.attr('class', getColorClass(holidays, date));		
				elem.text(date_sp[0]);								
				elem.unbind('click');
				elem.on('click', getDayClickHandler(date, holidays));
			});
	}

	function onAddHoliday(){
		var elem = $(this);

		elem.html($('<div>', {"class":"spinner-border spinner-border-sm"}));
		adminApi.addHoliday(
			elem.attr('date'), 
			function(){updateCalendarDay(elem)} 
		);	
	}

	function onRemoveHoliday(){
		var elem = $(this);

		elem.html($('<div>', {"class":"spinner-border spinner-border-sm"}));
		adminApi.delHoliday(
			elem.attr('date'), 
			function(){updateCalendarDay(elem);}
		);
	}

	function getDayClickHandler(date, holidays){
		return containsDate(holidays, date) ? onRemoveHoliday : onAddHoliday;
	}

</script>
