<h3>Расписание на 3 недели</h3>
<div class="table-responsive">
	<table class="table table-sm table-bordered table-hover" id="month_schedule"></table>
</div>
    <script>

    	function generateTableLine(elements, cellTag = 'td'){
		var tr = document.createElement('tr');

		elements.forEach(function(elem_desc){
			var td = document.createElement(cellTag);

			if(typeof elem_desc != 'object'){
				td.innerHTML = elem_desc;
			}else{
				if(elem_desc.text != undefined)
					td.innerHTML = elem_desc.text;
				if(elem_desc.classes != undefined){
					elem_desc.classes.forEach(function(cls){
						td.classList.add(cls);
					});
				}
			}

			tr.appendChild(td);
		});

		return tr;
	}


    	function generateTable(schedule){
		var table_data = document.createDocumentFragment();

		var thead = document.createElement('thead');
		schedule[''].unshift('Дежурный');
		thead.appendChild(generateTableLine(schedule[''], 'th'));
		table_data.appendChild(thead);

		var tbody = document.createElement('tbody');
		for(name in schedule){
			if(name == ''){continue;}
			
			var lineElements = [name];
			for(day in schedule[name]){
				switch(schedule[name][day]){
					case 'i': lineElements.push({classes: ['bg-success']}); break;
					case 'h': lineElements.push({classes: ['bg-danger']}); break;
					default: lineElements.push({}); break;
				}
			}
			var tr = generateTableLine(lineElements);
			if(name == 'Зиберов'){tr.classList.add('table-active');}
			tbody.appendChild(tr);

			for(day in schedule[name]){
				td = document.createElement('td');
				
			}
		}

		table_data.appendChild(thead);
		table_data.appendChild(tbody);
		return table_data;
	}

	/*document.getElementById('month_schedule').appendChild(generateTable({
		'': ['01.01','01.01','01.01','01.01','01.01','01.01','01.01','01.01','01.01','01.01','01.01','01.01','01.01','01.01','01.01','01.01','01.01','01.01','01.01','01.01','01.01','01.01',],
		'Колесников': [0, 1, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
		'Зиберов':    [1, 2, 3, 0],
		'Усольцев':   [0, 3, 2, 1]
	}));*/
	
	$.getJSON('/api/plan.php', function(data){
		document.getElementById('month_schedule').appendChild(generateTable(data));
	});	
    </script>
