<h3>2.3.0-develop-full-TT <small><a href="#"><span class="oi oi-pencil"></span></a></small></h3>
<table class="table table-hover">
	<tr><th>Тест</th><th>Текст ошибки</th><th>Назначен</th><th>Результат</th></tr>
	<tr><td>SomeTestName</td><td>Element [data-at="myButton"] not found</td><td>Мне</td><td><a href="#">STDDEFECT-12345</a></td></tr>
	<tr><td>SomeTestName</td><td>Element [data-at="myButton"] not found</td><td>Мне</td><td>Вручную тест пройден</td></tr>
	<tr><td>SomeTestName</td><td>Element [data-at="myButton"] not found</td><td>Петров И.П.</td><td>Не воспроизводится локально</td></tr>
	<tr><td>SomeTestName</td><td>Element [data-at="myButton"] not found</td><td>Иванов И.И.</td><td>Прошел после перезапуска</td></tr>
	<tr><td>SomeTestName</td><td>Element [data-at="myButton"] not found</td><td><button class="btn btn-primary">Назначить мне</button></td><td></td></tr>
</table>
