<h3>Разборы</h3>
<table class="table table-hover">
	<tr><th>Дата</th><th>название</th></tr>
	<tr><td>01.09.2019</td><td>2.3.0-develop-full-TT</td></tr>
	<tr><td>01.09.2019</td><td>2.3.0-develop-full-UI</td></tr>
	<tr><td>02.09.2019</td><td>2.3.29-feature-BCACBAB-12345-TT</td></tr>
	<tr><td>03.09.2019</td><td>2.3.30-bugfix-UI</td></tr>
	<tr><td>03.09.2019</td><td>2.3.30-bugfix-TT</td></tr>
	<tr><td>04.09.2019</td><td>2.3.0-develop-smoke-UI</td></tr>
	<tr><td>04.09.2019</td><td>2.3.0-develop-smoke-TT</td></tr>
</table>
