<h2>Больничные</h2>
<div class="alert alert-danger" id="alert-unathorised" style="display: none">
	Для просмотра и редактирования больничных необходимо авторизоваться, показаны только выходные и праздники
</div>
<table class="table table-sm table-borderless">
	<tbody>
		<tr><td></td><td>- обычный рабочий день</td></tr>
		<tr><td class="table-danger"></td><td>- выходной или праздничный день</td></tr>
		<tr><td class="table-warning"></td><td>- больничный</td></tr>
	</tbody>
</table>
<div id="calendar"></div>
<script src="/js/calendarUtils.js"></script>
<script>
	subscribeOnAuthUpdate(function(){
		var location = document.location.pathname;
		return function(isLogged){
			if(location == document.location.pathname){
				router.open(location);
			}
		}
	}());

	var holidays = [];
	var sick = [];

	var row;
	for(var i = 0; i < 12; i++){
		holidays[i] = loadHolidaysForMonth(2019, i);
		sick[i] = loadSickForMonth(2019, i);

		if((i%3) == 0){row = $('<div>', {class: 'row'});}
		row.append(genMonth(2019, i));
		if(((i+1) % 3) == 0){row.appendTo("#calendar");}
	}

	function loadHolidaysForMonth(year, monthIdx){
		var result = $.Deferred();
		api.getHolidays(
			new Date(year, monthIdx), 
			new Date(year, monthIdx+1, 0), 
			function(data){ result.resolve(data); }
		);
		return result;
	}

	function loadSickForMonth(year, monthIdx){
		var userid = router.getQueryParameters()['userid'];
		var result = $.Deferred();
		api.getSick(
			new Date(year, monthIdx), 
			new Date(year, monthIdx+1, 0), 
			function(data){ 
				result.resolve(data); 
			}, 
			userid == undefined ? null : userid,
			function(jqXHR){
				if(jqXHR.status == 401){
					result.resolve([]);
					$("#alert-unathorised").slideDown(); 
				}
				else api.error(); 
			});
		return result;
	}

	function genMonth(year, month){
		var spinner = $('<span>',{"class":"spinner-border spinner-border-sm float-right"});
		$.when(holidays[month], sick[month]).done(function(){ spinner.remove() });

		return $('<div>', {"class":"col-md-4 mb-4",
			html: $('<div>', {"class":"card",
				html: [
					$('<div>', {"class":"card-header", text: new Date(year, month).toLocaleString('default', { month: 'long' })}).append(spinner),
					$('<div>', {"class":"card-body", 
						html: calendarUtils.generateMonthTable(year, month, function(element, date){
							$.when(holidays[month], sick[month]).done(function(holidays, sick){
								element
									.attr('class', getColorClass(holidays, sick, date))
									.attr('date', date.getDate()+'.'+(date.getMonth()+1)+'.'+date.getFullYear())
									.on('click', getDayClickHandler(date, sick))
									.text(date.getDate())
							});

						}) 
					})
				]
			})
		});
	}

	function getColorClass(holidays, sick, date){
		if(containsDate(sick, date)) return "table-warning";	
		if(containsDate(holidays, date)) return "table-danger";
		return "";
	}

	function containsDate(daysList, date){
		var d = date.getDate();//day of month
		var m = date.getMonth()+1;//jan = 0
		var y = date.getFullYear();
		return daysList.indexOf(d+'.'+m+'.'+y) > -1;
	}
	
	function updateCalendarDay(elem){
			var date_sp = elem.attr('date').split('.');
			var date = new Date(date_sp[2], date_sp[1]-1, date_sp[0]);

			sick[date.getMonth()] = loadSickForMonth(date.getFullYear(), date.getMonth());
			$.when(sick[date.getMonth()], holidays[date.getMonth()]).then(function(sick, holidays){
				elem.attr('class', getColorClass(holidays, sick, date));		
				elem.text(date_sp[0]);								
				elem.unbind('click');
				elem.on('click', getDayClickHandler(date, sick));
			});
	}

	function onAddSick(){
		var userid = router.getQueryParameters()['userid'];
		var elem = $(this);

		elem.html($('<div>', {"class":"spinner-border spinner-border-sm"}));
		api.addSick(
			elem.attr('date'), 
			function(){updateCalendarDay(elem)},
			userid == undefined ? null : userid
		);
	}

	function onRemoveSick(){
		var userid = router.getQueryParameters()['userid'];
		var elem = $(this);

		elem.html($('<div>', {"class":"spinner-border spinner-border-sm"}));
		api.delSick(
			elem.attr('date'), 
			function(){updateCalendarDay(elem);},
			userid == undefined ? null : userid
		);
	}

	function getDayClickHandler(date, sick){
		return containsDate(sick, date) ? onRemoveSick : onAddSick;
	}

</script>
