<h2>График отпусков</h2>
<div class="alert alert-danger" id="alert-unathorised" style="display: none">
	Для просмотра и редактирования графика отпусков необходимо авторизоваться, показаны только выходные и праздники
</div>
<table class="table table-sm table-borderless">
	<tbody>
		<tr><td></td><td>- обычный рабочий день</td></tr>
		<tr><td class="table-danger"></td><td>- выходной или праздничный день</td></tr>
		<tr><td class="table-primary"></td><td>- отпуск</td></tr>
	</tbody>
</table>
<div id="calendar"></div>
<script src="/js/calendarUtils.js"></script>
<script>	
	subscribeOnAuthUpdate(function(){
		var location = document.location.pathname;
		return function(isLogged){
			if(location == document.location.pathname){
				router.open(location);
			}
		}
	}());

	var holidays = [];
	var vacations = [];

	var row;
	for(var i = 0; i < 12; i++){
		holidays[i] = loadHolidaysForMonth(2019, i);
		vacations[i] = loadVacationsForMonth(2019, i);

		if((i%3) == 0){row = $('<div>', {class: 'row'});}
		row.append(genMonth(2019, i));
		if(((i+1) % 3) == 0){row.appendTo("#calendar");}
	}

	function loadHolidaysForMonth(year, monthIdx){
		var result = $.Deferred();
		api.getHolidays(
			new Date(year, monthIdx), 
			new Date(year, monthIdx+1, 0), 
			function(data){ result.resolve(data); }
		);
		return result;
	}

	function loadVacationsForMonth(year, monthIdx){
		var userid = router.getQueryParameters()['userid'];
		var result = $.Deferred();
		api.getVacations(
			new Date(year, monthIdx), 
			new Date(year, monthIdx+1, 0), 
			function(data){ 
				result.resolve(data); 
			}, 
			userid == undefined ? null : userid,
			function(jqXHR){
				if(jqXHR.status == 401){
					result.resolve([]);
					$("#alert-unathorised").slideDown(); 
				}
				else api.error(); 
			});
		return result;
	}

	function genMonth(year, month){
		var spinner = $('<span>',{"class":"spinner-border spinner-border-sm float-right"});
		$.when(holidays[month], vacations[month]).done(function(){ spinner.remove() });

		return $('<div>', {"class":"col-md-4 mb-4",
			html: $('<div>', {"class":"card",
				html: [
					$('<div>', {"class":"card-header", text: new Date(year, month).toLocaleString('default', { month: 'long' })}).append(spinner),
					$('<div>', {"class":"card-body", 
						html: calendarUtils.generateMonthTable(year, month, function(element, date){
							$.when(holidays[month], vacations[month]).done(function(holidays, vacations){
								element
									.attr('class', getColorClass(holidays, vacations, date))
									.attr('date', date.getDate()+'.'+(date.getMonth()+1)+'.'+date.getFullYear())
									.on('click', getDayClickHandler(date, vacations))
									.text(date.getDate())
							});

						}) 
					})
				]
			})
		});
	}

	function getColorClass(holidays, vacations, date){
		if(containsDate(vacations, date)) return "table-primary";	
		if(containsDate(holidays, date)) return "table-danger";
		return "";
	}

	function containsDate(daysList, date){
		var d = date.getDate();//day of month
		var m = date.getMonth()+1;//jan = 0
		var y = date.getFullYear();
		return daysList.indexOf(d+'.'+m+'.'+y) > -1;
	}
	
	function updateCalendarDay(elem){
			var date_sp = elem.attr('date').split('.');
			var date = new Date(date_sp[2], date_sp[1]-1, date_sp[0]);

			vacations[date.getMonth()] = loadVacationsForMonth(date.getFullYear(), date.getMonth());
			$.when(vacations[date.getMonth()], holidays[date.getMonth()]).then(function(vacations, holidays){
				elem.attr('class', getColorClass(holidays, vacations, date));		
				elem.text(date_sp[0]);								
				elem.unbind('click');
				elem.on('click', getDayClickHandler(date, vacations));
			});
	}

	function onAddVacation(){
		var userid = router.getQueryParameters()['userid'];
		var elem = $(this);

		elem.html($('<div>', {"class":"spinner-border spinner-border-sm"}));
		api.addVacation(
			elem.attr('date'), 
			function(){updateCalendarDay(elem)}, 
			userid == undefined ? null : userid
		);	
	}

	function onRemoveVacation(){
		var userid = router.getQueryParameters()['userid'];
		var elem = $(this);

		elem.html($('<div>', {"class":"spinner-border spinner-border-sm"}));
		api.delVacation(
			elem.attr('date'), 
			function(){updateCalendarDay(elem);},
			userid == undefined ? null : userid
		);
	}

	function getDayClickHandler(date, vacations){
		return containsDate(vacations, date) ? onRemoveVacation : onAddVacation;
	}

</script>
